{% extends 'base.html.twig' %}
{% block title %}
    Profil
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="container content">
            <div class="row">
                <div class="col-md col-lg col-sm offset-lg-1">
                    <div class="span3 well">
                        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
                        <h3>{{ app.user.username }}</h3>
                    </div>
                </div>
                <div class="col-lg col-md col-sm">
                    <div class="form-group">
                        <label for="nom">Nom d'utilisateur</label>
                        <input type="text" class="form-control" value="{{ app.user.username }}">
                    </div>

                    <div class="form-group">
                        <label for="mail">Email</label>
                        <input type="email" class="form-control" id="mail" value="{{ app.user.email }}">
                    </div>
                </div>
            </div>
            <hr>

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CREATOR') %}
                <div class="row ">
                    <div class="col-sm col-md col-lg">
                        <h4 class="text-center">Vous pouvez créer</h4>
                        <br>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm col-md col-lg form-group">
                        <button class="btn btn-secondary form-control" style="margin-bottom: 5px;"><a href="{{ path('cours_new') }}" class="a">Ajouter cours</a></button>
                    </div>
                    <div class="col-sm col-md col-lg form-group">
                        <button class="btn btn-secondary form-control"><a href="{{ path('cours_index') }}" class="a" >Liste des cours</a></button>
                    </div>
                </div>
            {% endif %}

            <hr>
            <div class="col-lg-10 offset-1">
                <h4 class="text-center">Vos badges</h4>

                {% for categorie in categories %}
                    {{ categorie.name }}
                    <br>
                    {% for cour in app.user.cours %}
                        {% if cour.category.name == categorie.name %}
                            <img src="{{ asset('uploads/cours/' ~ cour.image) }}" width="80px" height="80px"/>
                        {% endif %}
                    {% endfor %}
                    <br>
                {% endfor %}
            </div>
            <hr>

            <br>
            <br>
            <div class="row">
                <div class="col-sm col-md col-lg">
                    <div class="text-center">
                        <button class="btn btn-secondary"><a href="{{ path('fos_user_security_logout') }}" class="a">Se déconnecter</a> </button>
                    </div>
                </div>
                <div class="col-sm col-md col-lg">
                    <div class="text-center">
                        <button class="btn btn-secondary"><a href="{{ path('CGU') }}" class="a">Lire les CGU</a> </button>
                    </div>
                </div>
            </div>


        </div>
    {% else %}
        <div class="container body">
            <div class="text-center">
                <h2>Vous n'êtes pas autorisé à accéder à cette page</h2>
                <h4 class="text-muted">Veuillez vous connecter</h4>
                <button class="btn btn-secondary margin"><a class="a" href="{{ path('fos_user_security_login') }}">Me connecter</a></button>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block stylesheets %}
    <style>
        .a{
            color:white;
        }
        .margin{
            margin-bottom: 10px;
        }
        .body{
            height: -webkit-fill-available;
            margin-top: 20%;
        }
        .content{
            height: -webkit-fill-available;
            margin-top: 10px;
        }
    </style>

{% endblock %}
