{% extends 'base.html.twig' %}
{% block title %}
    Profil
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="span3 well">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
                    <h3>{{ app.user.username }}</h3>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nom">Nom d'utilisateur</label>
                        <input type="text" class="form-control" value="{{ app.user.username }}">
                    </div>

                    <div class="form-group">
                        <label for="mail">Email</label>
                        <input type="email" class="form-control" id="mail" value="{{ app.user.email }}">
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="col-lg-2">
                <button class="btn btn-secondary"><a href="{{ path('cours_new') }}">Ajouter cours</a></button>
                <button class="btn btn-secondary"><a href="{{ path('cours_index') }}">Liste des cours</a></button>
            </div>
        </div>
        {% endif %}
        <div class="text-center">
            <button class="btn btn-login"><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a> </button>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
