<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">Webemy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <button class="btn btn-secondary">
                            <a class="nav-link" href="{{ path('showCategorie') }}">Thématiques
                                <span class="sr-only">(current)</span>
                            </a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-secondary">
                            <a class="nav-link" href="{{ path('profil') }}">{{ app.user.username }}</a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('fos_user_security_logout') }}">
                            <button class="btn btn-secondary">
                                <i class="fa fa-sign-out" style="font-size:36px"></i>
                            </button>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <button class="btn btn-secondary">
                            <a class="nav-link" href="{{ path('fos_user_security_login') }}">Log in</a>
                        </button>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

{% block stylesheets %}
<style>
    ul li {
        margin: 0 10px 0 10px;
        text: #ffffff;
    }
</style>
{% endblock %}
