{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-8 offset-2">


    <h1>Liste des cours</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Introduction</th>
                <th scope="col">Image</th>
                <th scope="col">Category</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td><a href="{{ path('cours_show', { 'id': cour.id }) }}">{{ cour.id }}</a></td>
                <td>{{ cour.title }}</td>
                <td>{{ cour.introduction }}</td>
                <td><img src="{{ asset('uploads/cours/' ~ cour.image) }}" width="50px" height="50px"/></td>
                <td>{{ cour.category.name }}</td>
                <td>
                    <a href="{{ path('cours_show', { 'id': cour.id }) }}">Afficher</a>
                    <a href="{{ path('cours_edit', { 'id': cour.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cours_new') }}">Créer un nouveau cours</a>
        </li>
    </ul>
    </div>
{% endblock %}
