{% extends 'base.html.twig' %}

{# categories \AppBundle\Entity\Category #}


{% block title %}
    Catégories
{% endblock %}
  {% block stylesheets %}

      <link href="{{ asset('css/carousel.css') }}" rel="stylesheet">
      <link href="{{ asset('css/index.css') }}" rel="stylesheet">

  {% endblock %}

{% block body %}
    <div class="container">

        <div class="row">

            <input class="form-control" id="myInput" type="text" placeholder="Rechercher..">

        </div>

    </div>

    {% for category in categories %}
        {% if category.cours | length != 0  %}
            <span id="controlL" class="left-controls" role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>
  </span>


            <div class="module-section clearfix  mix marketing planning">
                <div id="myDIV">

                    <!-- <button class="btn arrow-guides fa-chevron-left"></button> -->
                    <ul class="content">
                        <h1>{{ category.Name }}</h1>

                        {% for cours in category.cours %}
                            <a href="{{ path('cours_show', { 'id': cours.id }) }}">
                                <li class="card effect1">
                                    <div class="inside-top">
                                        <img src="{{ asset('uploads/cours/' ~ cours.image) }}"  height="270px" width="480px">
                                        <h5 class="text-center">{{ cours.Title }}</h5>
                                    </div>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>


            </div><!--end of module-section-->
            <span id="controlR" class="right-controls" role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-right fa-chevron-right-extra" aria-hidden="true"></b>
  </span>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script src='https://use.fontawesome.com/76758773b6.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myDIV *").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


{% endblock %}